.place__like {
  display: inline-block;
  width: 22px;
  height: 19px;
  border: none;
  align-self: center;
  cursor: pointer;
  background-color: #fff;
  background-image: url("../../../images/like.svg");
  background-repeat: no-repeat;
  transition: background-image 0.3s;
}

.place__like:hover {
  background-image: url("../../../images/like-hover.svg");
}

.place__like:active {
  background-image: url("../../../images/like-active.svg");
}
