.popup__input {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
  padding-bottom: 8px;
  transition: border-bottom 0.3s;
}

.popup__input:focus {
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 0%, 1);
}

.popup__input:last-of-type {
  padding-top: 32px;
}
