.profile {
  display: flex;
  padding-top: 40px;
  gap: 30px;
}

@media (max-width: 740px) {
  .profile {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

@media (max-width: 430px) {
  .profile {
    padding-top: 42px;
  }
}
