.header {
  box-sizing: border-box;
  min-height: 74px;
  border-bottom: 1px solid hsla(0, 0%, 33%, 0.7);
}

@media (max-width: 600px) {
  .header {
    min-height: 56px;
  }
}

@media (max-width: 430px) {
  .header {
    position: absolute;
    min-width: 320px;
    right: 0;
    left: 0;
  }
}
